body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    height: 100vh;
    background-color: #f8f9fa;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.container {
    width: 60%;
    text-align: center;
}

.error-text {
    color: #333;
    font-size: 24px;
    font-weight: bold;
}

.error-code {
    color: #555;
    font-size: 100px;
    font-weight: bold;
    margin: 0;
}

.error-description {
    color: #555;
    font-size: 18px;
}

.error-image {
    width: 40%;
    text-align: center;
}

.error-image img {
    max-width: 80%;
    height: auto;
    margin-right: 30%;
}body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    height: 100vh;
    background-color: #f8f9fa;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.container {
    width: 60%;
    text-align: center;
}

.error-text {
    color: #333;
    font-size: 24px;
    font-weight: bold;
}

.error-code {
    color: #555;
    font-size: 100px;
    font-weight: bold;
    margin: 0;
}

.error-description {
    color: #555;
    font-size: 18px;
}

.error-image {
    width: 40%;
    text-align: center;
}

.error-image img {
    max-width: 80%;
    height: auto;
    margin-right: 30%;
}
